<a href="https://colab.research.google.com/github/Ankipatel8990/LetsUpgrade-AI-ML/blob/master/Day12_BankLoan_RandomForest%2BDTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier

In [ ]:
dataset=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx")

In [ ]:
dataset.head()

   ID  Age  Experience  ...  CD Account  Online  CreditCard
0   1   25           1  ...           0       0           0
1   2   45          19  ...           0       0           0
2   3   39          15  ...           0       0           0
3   4   35           9  ...           0       0           0
4   5   35           8  ...           0       0           1

[5 rows x 14 columns]

In [ ]:
dataset.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [ ]:
dataset1=dataset.drop(["ID","ZIP Code"],axis=1)

In [ ]:
dataset1.isnull().sum()

Age                   0
Experience            0
Income                0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [ ]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [ ]:
features=["Age","Experience","Income","Family","CCAvg","Education","Mortgage","Securities Account","CD Account","Online","CreditCard"]

In [ ]:
rf_model.fit(X=dataset1[features],y=dataset1["Personal Loan"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
print("OOB Accuracy:")
print(rf_model.oob_score_)

OOB Accuracy:
0.9876

In [ ]:
for feature,imp in zip(features,rf_model.feature_importances_):
  print(feature,imp)

Age 0.04482633729449416
Experience 0.043944646107062446
Income 0.3492145773734483
Family 0.09710190904286546
CCAvg 0.18200116685669074
Education 0.16024744740454236
Mortgage 0.04326016851491624
Securities Account 0.005805493893739251
CD Account 0.0552807952709135
Online 0.00849189539696272
CreditCard 0.009825562844364958

In [ ]:
dataset1["CCAvg"]=np.round(dataset1["CCAvg"])

#Decisiontree#

In [ ]:
tree_model=tree.DecisionTreeClassifier()

In [ ]:
tree_model=tree.DecisionTreeClassifier(max_depth=6,max_leaf_nodes=10)

In [ ]:
predictors=pd.DataFrame([dataset1["Income"],dataset1["CCAvg"],dataset1["Education"]]).T

In [ ]:
tree_model.fit(X=predictors,y=dataset1["Personal Loan"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=10,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
with open("Dtree.dot",'w') as f:
  f=tree.export_graphviz(tree_model,feature_names=["Income","CCAvg","Education"],out_file=f);