In [4]:
#Q.1 SUBSTRACTION
A=5
B=10
C=B-A
print(C)

5

In [28]:
# Q.2 Fourth root
a=2**4
print(a)

16

In [10]:
# Q.3 SWAP WITH TEMP VARIABLE
a=10
b=2
temp=a
a=b
b=temp
print("value of a",a)
print("value of b",b)

value of a 2
value of b 10

In [15]:
#Q.4 SWAP WITHOUT TEMP VARIAVBLE
a=10
b=20
a=a+b # 30
b=a-b #10
a=a-b #20
print("value of a =",a)
print("value of b =",b)

value of a = 20
value of b = 10

**Q.5  convert fahrenheit to kelvin and celsius both.**

In [16]:
 #convert fahrenheit to kelvin 
F=100
K = 273.5 + ((F - 32.0) * (5.0/9.0))
print("fahrenheit to kelvin",K)

fahrenheit to kelvin 311.27777777777777

In [21]:
#convert fahrenheit to celsius
F=99
C=(F-32) * 5/9
print("fahrenheit to celsius",C)

fahrenheit to celsius 37.22222222222222

**Q.6 Write a program to demonstrate all the available data types in Python.**

In [22]:
a=10
type(a)

int

In [23]:
a='Ankita'
type(a)

str

In [25]:
a=33.45
type(a)

float

In [26]:
a=20/7/2019
type(a)

float

In [27]:
a="20/7/2019"
type(a)

str

**Q.7 Create a Markdown cell in jupyter and list the steps discussed in the session to create Github profile and upload Githubs Assignment link.**



1.   SIGN UP FOR GITHUB ACCOUNT
2.   SELECT NEW option
3.   Select Repository Name
4.   Give Repository name : LetsUpgrade AI-ML
5.   In Description  : Assignment
6.   Do not change anything in form
7.   click on CREATE REPOSITORY
8.   NOW LetsUp grade AI-ML FORM has been created 
9.   now click on upload existing file 
10.  drag the file over here
11.  click Commit changes option.