<a href="https://colab.research.google.com/github/Ankipatel8990/LetsUpgrade-AI-ML/blob/master/Titanic_Decisiontree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

In [2]:
titanic_train=pd.read_csv("train.csv")

In [3]:
titanic_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.5+ KB

In [4]:
titanic_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [5]:
label_encoder=preprocessing.LabelEncoder()
encoded_sex=label_encoder.fit_transform(titanic_train['Sex'])

In [8]:
tree_model=tree.DecisionTreeClassifier()

In [11]:
tree_model.fit(pd.DataFrame(encoded_sex),y=titanic_train["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [13]:
with open("Dtree1.dot",'w') as f:
  f=tree.export_graphviz(tree_model,feature_names=["sex"],out_file=f);

In [18]:
# Decision tree with 3 IV = Sex,Age,Fare with DV= Survived#
predictors=pd.DataFrame([titanic_train["Age"],encoded_sex,titanic_train["Fare"]]).T
tree_model.fit(predictors,y=titanic_train["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [20]:
with open("Dtree2.dot",'w') as f:
  f=tree.export_graphviz(tree_model,feature_names=["Age","sex","Fare"],out_file=f);

In [21]:
tree_model.score(predictors,y=titanic_train["Survived"])

0.9763779527559056

In [22]:
# call the Test dataset#
titanic_test=pd.read_csv("test.csv")

In [23]:
titanic_test

     PassengerId  Pclass  ...      Fare Embarked
0            892       3  ...    7.8292        Q
1            893       3  ...    7.0000        S
2            894       2  ...    9.6875        Q
3            895       3  ...    8.6625        S
4            896       3  ...   12.2875        S
..           ...     ...  ...       ...      ...
412         1305       3  ...    8.0500        S
413         1306       1  ...  108.9000        C
414         1307       3  ...    7.2500        S
415         1308       3  ...    8.0500        S
416         1309       3  ...   22.3583        C

[417 rows x 10 columns]

In [24]:
titanic_test.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [25]:
encoded_sex_test=label_encoder.fit_transform(titanic_test["Sex"])

In [28]:
predictors_test=pd.DataFrame([titanic_test["Age"],encoded_sex_test,titanic_test["Fare"]]).T

In [31]:
test_predict=tree_model.predict(predictors_test)
predicted_output=pd.DataFrame({"PassengerId":titanic_test["PassengerId"],"Survived":test_predict})

predicted_output.to_csv("Output.csv",index=False);